<?xml version="1.0" encoding="UTF-8"?>
<!--<Configuration status="TRACE">-->
<Configuration>
    <Properties>
        <Property name="baseDir">/data/log/web</Property>
        <property name="filePattern">${baseDir}/gps_current.log</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{1}[%L] - %m%n"/>
        </Console>
        <RollingFile name="file" fileName="${filePattern}" filePattern="${baseDir}/gps_%d{dd}_%d{HH}.log" ignoreExceptions="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{1}[%L] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
               <Delete basePath="/data/log/web" >
                   <IfLastModified age="3D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="file"/>-->
        </Root>
    </Loggers>
</Configuration>